{% extends 'Links.html' %}
{% block title %} Change {{ request.user }} Password {% endblock %}



{% block content %}
    <form method="post">{% csrf_token %}
        <div class="container-fluid mt-5">
            <div class="card">
                <!--Card content-->
                <div class="card-body px-lg-5">
                    <!-- Form -->
                    <form method="post" class="text-center" style="color: #757575;">

                        {% for field in form %}
                            <div class="md-form mt-4">
                                {{ field }}
                                <label for="materialSubscriptionFormPasswords">{{ field.label }}</label>
                                {{ field.errors }}
                            </div>
                        {% endfor %}
                        <input class="btn btn-primary" type="submit" value="Save">

                    </form>
                    <!-- Form -->
                </div>
            </div>
        </div>
    </form>
    <!-- Material form subscription -->
{% endblock content %}