{% extends 'Links.html' %}
{% load humanize %}


{% block title %} {{ user|capfirst }}'s' Profile  {% endblock title %}


{% block content %}
<style type="text/css">
  .table-wrapper-scroll-y {
display: block;
max-height: 350px;
overflow-y: auto;
-ms-overflow-style: -ms-autohiding-scrollbar;
}
</style>
 <div class="container-fluid mt-5">
<!-- Heading -->

            <!-- Heading -->

  <div class="row">
    <div class="col-md-3">

    	<!-- Card -->



{% if request.user.is_teacher %}
    <!-- Card content -->
  <div class="card-body card-body-cascade text-center">

    <small class="card-title">Name: {{ request.user.get_full_name|capfirst }}</small><br>
    <small class="card-title">Role: Teacher </small><br>
  </div>
{% endif %}

{% if request.user.is_student %}
    <!-- Card content -->
      <div class="form-row">
    <!-- Grid column -->
    <div class="col-md-4">
      <!-- Material input -->
        <span style="font-size: x-large"> <i class="fa fa-user-circle" aria-hidden="true"></i> {{ request.user.first_name}}  </span>

      </div>
          <div class="col-md-10">
      <!-- Material input -->
         <span style="font-size: x-large"> <i class="fa fa-user-circle-o" aria-hidden="true"></i> {{ request.user.last_name}}</span>

      </div>
          <div class="col-md-10">
      <!-- Material input -->
         <span style="font-size: x-large"> <i class="fa fa-address-book-o" aria-hidden="true"></i>  Student   </span>

      </div>
            </div>

    </div>
    <!-- Grid column -->
</div>


    </div>












{% endif %}


{% if request.user.is_superuser %}
    <!-- Card content -->
  <div class="card-body card-body-cascade text-center">

    <small>Name: {{ request.user.get_full_name|capfirst }}</small><br>
    <small>Role: Superuser</small>
  </div>
{% endif %}



<!-- Card -->
    </div>
    {% if request.user.is_teacher %}
    <div class="col-md-7 text-center">
      <p>Subjects</p>
  <div class="table-wrapper-scroll-y">

  <table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Subject Code</th>
      <th scope="col">Subject Name</th>
      <th scope="col">Semester</th>
      <th scope="col">Description</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    {% for subject in subjects %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{ subject.subjectCode }}</td>
      <td>{{ subject.subjectName }}</td>
      <td>{{ subject.semester }}</td>
      <td>{{ subject.description}}</td>
    </tr>
    {% empty %}
  {% endfor %}
  </tbody>
</table>
    </div>
  </div>
  {% endif %}
  {% if request.user.is_superuser %}
    <div class="col-md-7 text-center">
      <p>All staff list</p>
  <div class="table-wrapper-scroll-y">

  <table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Address</th>
      <th scope="col">Picture</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    {% for staff in staff %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{ staff.get_full_name|capfirst }}</td>
      <td>{{ staff.address }}</td>
      <td>{{ staff.get_picture.url }}</td>
      <td>
        <span class="table-remove">
          <a href="{% url 'user_profile' id=staff.pk%}" class="btn btn-info btn-rounded btn-sm my-0">View</a>
        </span>

        <span class="table-remove">
          <a href="" class="btn btn-info btn-rounded btn-sm my-0">Delete</a>
        </span>
      </td>
    </tr>
    {% empty %}
    <tr>
    <td></td>
      <td></td>
      <td>No Staff to show !</td>
      <td></td>
    </tr>
  {% endfor %}
  </tbody>
</table>
    </div>
  </div>
  {% endif %}

</div>
 </div>
{% endblock %}