{% extends 'Links.html' %}

{% block content %}
    <div class="container-fluid mt-4">
        Add new {{ user_type }}
        <!-- Extended material form grid -->
        <form method="post">{% csrf_token %}
            <!-- Grid row -->
            <div class="form-row">
                <!-- Grid column -->
                <div class="col-md-4">
                    <!-- Material input -->
                    <div class="md-form form-group">
                        <i class="fa fa-user prefix"></i>
                        {{ form.username }}
                        <label for="inputEmail4MD">{{ form.username.label }}</label>
                        <span style="color: red"> {{ form.username.errors }} </span>
                    </div>
                </div>
                <!-- Grid column -->
            </div>
            <div class="form-row">
                <!-- Grid column -->
                <div class="col-md-3">
                    <!-- Material input -->
                    <div class="md-form form-group">
                        <i class="fa fa-lock prefix"></i>
                        {{ form.password1 }}
                        <label for="inputPassword4MD">{{ form.password1.label }}</label>
                        <span style="color: red">{{ form.password1.errors }}</span>
                    </div>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-3">
                    <!-- Material input -->
                    <div class="md-form form-group">
                        <i class="fa fa-lock prefix"></i>
                        {{ form.password2 }}
                        <label for="inputPassword4MD">{{ form.password1.label }}</label>
                        <span style="color: red">{{ form.password2.errors }}</span>
                    </div>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
            <div class="form-row">
                <!-- Grid column -->
                <div class="col-md-4">
                    <!-- Material input -->
                    <div class="md-form form-group">
                        <i class="fa fa-dot-circle-o prefix"></i>
                        {{ form.firstname }}
                        <label for="inputCityMD">{{ form.firstname.label }}</label>
                        <span style="color: red">{{ form.firstname.errors }}</span>
                    </div>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4">
                    <!-- Material input -->
                    <div class="md-form form-group">
                        <i class="fa fa-dot-circle-o prefix"></i>
                        {{ form.lastname }}
                        <label for="inputZipMD">{{ form.lastname.label }}</label>
                        <span style="color: red">{{ form.lastname.errors }}</span>
                    </div>
                </div>
            </div>
            <!-- Grid row -->
            <div class="form-row">

                <div class="col-md-4">
                    <!-- Material input -->
                    <div class="md-form form-group">
                        <i class="fa fa-envelope prefix"></i>
                        {{ form.email }}
                        <label for="teacher_email">{{ form.email.label }}</label>
                        <span style="color: red">{{ form.email.errors }}</span>
                    </div>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
            <div class="row">
                <!-- Grid column -->
                <div class="col-md-4">
                    <!-- Material input -->
                    <div class="md-form form-group">
                        <i class="fa fa-home prefix"></i>
                        {{ form.address }}
                        <label for="teacher_address">{{ form.address.label }}</label>
                        <span style="color: red">{{ form.address.errors }}</span>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <!-- Grid column -->
                <div class="col-md-4">
                    <!-- Material input -->
                    <div class="md-form form-group">
                        <i class="fa fa-phone prefix"></i>
                        {{ form.phone }}
                        <label for="inputCityMD">{{ form.phone.label }}</label>
                        <span style="color: red">{{ form.phone.errors }}</span>
                    </div>
                </div>

            </div>
            <button type="submit" class="btn btn-default btn-rounded mb-4">Save</button>
        </form>
    </div>
{% endblock %}