{% extends 'Links.html' %}
{% load widget_tweaks %}


{% block title %}
    Select all the subjects you want to create
{% endblock title %}


{% block content %}


    <p>You selected <b>{{ count }} students</b> from the previous page.</p>

    <form method="POST">
        {% csrf_token %}

        {{ form.non_field_errors }}

        <div class="form-group row">
            {{ form.subject.errors }}
            <label class="col-2" for="{{ form.subject.id_for_label }}">{{ form.subject.label_tag }}</label>
            <div class="col">{{ form.subject | add_class:"form-check-input" }}</div>
        </div>

        <input type="hidden" name="finish" value="True">
        <input type="hidden" name="students" value="{{ students }}">

        <input type="submit" class="btn btn-success" value="Create">
    </form>

{% endblock content %}
