{% load static %}

<style>
  .greet{
    font-size: 18px;
    color: #fff;
    margin-right: 20px;
  }
</style>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    {% if request.user.is_authenticated %}
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}">Home</a>
      </li>
     <li class="nav-item active">
        <a class="nav-link" href="{% url 'student_list' %}">Student List</a>
      </li>
     <li class="nav-item active">
        <a class="nav-link" href="{% url 'teacher_list' %}">Teacher List</a>
              </li>
             <li class="nav-item active">
        <a class="nav-link" href="{% url 'grades_list' %}">Grades list</a>
      </li>
        {}

    </ul>
  </div>

  <span class="greet">Hello, {{request.user.get_full_name}}</span>
  <span ><a  class="greet" href="{% url 'logout' %}">Logout</a></span>
    {% endif %}

</nav>